body{
    background-color: #c74224;
    font-family: 'Oswald', sans-serif;
}
.board{
    background-color: #c74224;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(13,100px);
    /* margin-left: 410px; */
}
h1{
    color: #a69137;
    border: 2px;
    border-radius: 10px;
    font-style: italic;
    font-size: xx-large;
}
.card{
    background-color: rgb(177, 172, 172);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 112.5px;
    width: 75px;
    border: 2px whitesmoke solid;
    border-radius: 10px;
    /* display: inline-flex; */
    /* flex: 40px; */
    color: #1500ff;
}
.card:hover{
    box-shadow: 0 15px 15px 15px #813732;
    cursor: pointer;
    background-color: #529c7d;
}
.img{
    background-image: url(https://bit.ly/3wqZgtd);
}
.hidden{
    content-visibility: hidden;
    background-size: 90px;

}
.go-away{
    content-visibility: hidden;
}

.player-name{
    color: #faf0be;
    text-align: center;
}
.active{
    color: blue;
}

.before{
    color: #0e9aa7;
    font-size: 1.3rem;
}

.ipt{
    border-radius: 4px;
}

.btn{
    background-image: url(https://bit.ly/3MSr2p0);
    background-size: 20px;
    cursor: pointer;
    color: blue;
    width: 5%;
    font-size: 2rem;
    margin-top: 70px;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #26243b;
    text-align: center;
}

.btn:hover{
    box-shadow: 0 10px 10px #26243b;
}