body{
    background-color: #143F6B;
    font-family: 'Oswald', sans-serif;
}
.board{
    background-color: #143F6B;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(13,100px);
}
h1{
    margin-top: 0px;
    color: #ffffff;
    border: 2px;
    border-radius: 10px;
    font-style: italic;
    font-size: xx-large;
}
.card{
    background-color: rgb(177, 172, 172);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    height: 112.5px;
    width: 75px;
    border: 2px whitesmoke solid;
    border-radius: 10px;
    /* display: inline-flex; */
    /* flex: 40px; */
    color: #1500ff;
}
.card:hover{
    box-shadow: 0 5px 15px 5px black;
    cursor: pointer;
    background-color: #529c7d;
}
.img{
    background-image: url(https://bit.ly/3wqZgtd);
}
.hidden{
    content-visibility: hidden;
    background-size: 90px;
}
.go-away{
    content-visibility: hidden;
}

.player-name{
    color: #F55353;
    border: 0px;
    border-radius: 5px;
   text-align: center;
   display: inline;
   font-size: 1.4rem;
   margin-left: 400px;
   font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.active{
    box-shadow: 0 0 10px 10px white;
    color: #fab802;
}

.before{
    color: #0e9aa7;
    font-size: 1.3rem;
}

.ipt{
    background-color: #F55353;
    background-size: 20px;
    color: #F6F54D;
    width: 15%;
    font-size: 2rem;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #26243b;
}

.btn{
    background-color: #F55353;
    background-size: 20px;
    cursor: pointer;
    color: #F6F54D;
    width: 10%;
    font-size: 2rem;
    margin-top: 70px;
    border: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px #26243b;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Oswald', sans-serif;
}

.btn:hover{
    box-shadow: 0 10px 10px #26243b;
}